.logo {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block;
  font-family: raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 24px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text {
  color: var(--accent-color);
}

.logo__accent {
  color: var(--primary-white-color);
}

.logo.logo__footer {
  margin: 0;
}
