.menu-toggle {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.mobile-menu-close {
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

// .menu-toggle:hover,
// .menu-toggle:focus {
//   background-color: rgba(0, 0, 0, 0.1);
// }

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--primary-white-color);
  z-index: 999;
  overflow: scroll;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);

  transform: translateY(0);
  top: 21px;
  right: 25px;
}

.mobile-menu {
  padding: 0;
  height: 100%;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-nav {
  display: block;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu-nav.link--accent {
  color: var(--accent-color);
}
.mobile-menu-item {
  margin-bottom: 32px;
}

.mobile-menu-phone {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;
}

.mobile-menu-socials {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
}
.mobile-menu-socials-item {
  &:not(:first-child) .mobile-menu-link {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
}
